extends layout-admin

block content
  .container(style="margin-top: 100px;")
    h1 Nouvelle structure
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
          input.form-control(type='email', name="email", placeholder='Enter Email')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
        
    table.table(style="margin-top: 50px;")
      thead
        tr
          th Identifiant
          th Mail
          th Modifier
          th Supprimer
      tbody
        each item in accounts
          tr
            td= item.username
            td= item.email
            td
              a(href='/panel-admin-update?q='+item.username) 
                span.glyphicon.glyphicon-pencil
            td
              a(href='/remove?id='+item._id)
                span.glyphicon.glyphicon-remove
